<div class="p-5 shadow-md mb-10 flex justify-center flex-col items-center bg-white ">

    <h1 class="text-3xl font-bold tracking-tight">Inicio</h1>
    <p class="mt-2 text-lg text-gray-600 dark:text-gray-400">BIENVENIDO</p>

</div>


<div class="grid grid-cols-12 gap-2">


    <div class="col-span-6 ">
        <div class="relative group">
            <div
                class="absolute -inset-1 bg-gradient-to-r from-gray-600 to-gray-600 rounded-lg blur opacity-25 group-hover:opacity-100 transition duration-1000 group-hover:duration-200">
            </div>
            <div
                class="relative px-7 py-6 bg-white ring-1 ring-gray-900/5 rounded-lg leading-none flex items-top justify-start space-x-6">
                <svg class="w-8 h-8 text-gray-600" fill="none" viewBox="0 0 24 24">

                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                        d="M6.75 6.75C6.75 5.64543 7.64543 4.75 8.75 4.75H15.25C16.3546 4.75 17.25 5.64543 17.25 6.75V19.25L12 14.75L6.75 19.25V6.75Z">
                    </path>
                </svg>
                <div class="space-y-2">
                    <p class="text-slate-800">Facultades</p>
                    <p class="text-slate-800">Registro Totales: 5</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-span-6 ">
        <div class="relative group">
            <div
                class="absolute -inset-1 bg-gradient-to-r from-gray-600 to-gray-600 rounded-lg blur opacity-25 group-hover:opacity-100 transition duration-1000 group-hover:duration-200">
            </div>
            <div
                class="relative px-7 py-6 bg-white ring-1 ring-gray-900/5 rounded-lg leading-none flex items-top justify-start space-x-6">
                <svg class="w-8 h-8 text-gray-600" fill="none" viewBox="0 0 24 24">

                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                        d="M6.75 6.75C6.75 5.64543 7.64543 4.75 8.75 4.75H15.25C16.3546 4.75 17.25 5.64543 17.25 6.75V19.25L12 14.75L6.75 19.25V6.75Z">
                    </path>
                </svg>
                <div class="space-y-2">
                    <p class="text-slate-800">Gabinetes</p>
                    <p class="text-slate-800">Registro Totales: 4</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-span-6 ">
        <div class="relative group">
            <div
                class="absolute -inset-1 bg-gradient-to-r from-gray-600 to-gray-600 rounded-lg blur opacity-25 group-hover:opacity-100 transition duration-1000 group-hover:duration-200">
            </div>
            <div
                class="relative px-7 py-6 bg-white ring-1 ring-gray-900/5 rounded-lg leading-none flex items-top justify-start space-x-6">
                <svg class="w-8 h-8 text-gray-600" fill="none" viewBox="0 0 24 24">

                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                        d="M6.75 6.75C6.75 5.64543 7.64543 4.75 8.75 4.75H15.25C16.3546 4.75 17.25 5.64543 17.25 6.75V19.25L12 14.75L6.75 19.25V6.75Z">
                    </path>
                </svg>
                <div class="space-y-2">
                    <p class="text-slate-800">Backups</p>
                    <p class="text-slate-800">Registro Totales: 10</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-span-6 ">
        <div class="relative group">
            <div
                class="absolute -inset-1 bg-gradient-to-r from-gray-600 to-gray-600 rounded-lg blur opacity-25 group-hover:opacity-100 transition duration-1000 group-hover:duration-200">
            </div>
            <div
                class="relative px-7 py-6 bg-white ring-1 ring-gray-900/5 rounded-lg leading-none flex items-top justify-start space-x-6">
                <svg class="w-8 h-8 text-gray-600" fill="none" viewBox="0 0 24 24">

                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                        d="M6.75 6.75C6.75 5.64543 7.64543 4.75 8.75 4.75H15.25C16.3546 4.75 17.25 5.64543 17.25 6.75V19.25L12 14.75L6.75 19.25V6.75Z">
                    </path>
                </svg>
                <div class="space-y-2">
                    <p class="text-slate-800">Usuarios</p>
                    <p class="text-slate-800">Registro Totales: 3</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="flex flex-col justify-between items-center mt-5 bg-gray-900/50">
    <img src="assets/logo.png" class="w-60" alt="Logo">

    <p class="mt-5 text-white text-sm mb-10">
        © 2024 ALEX INGA VILLANUEVA. Todos los derechos reservados. Practicas UNSM
    </p>
</div>
