<div class="min-h-screen flex items-center justify-center">
  <!-- Full-screen card with diagonal effect -->
  <div class="w-full h-screen flex relative bg-unsm-green ">
    
    <div class="absolute bg-gray-100"></div>
    <!-- Left Side (Diagonal Background with Login Form) -->
    <div  class="absolute w-1/2 h-full text-white p-8 flex flex-col justify-center items-center clip-diagonal bg-white">
      <div style="background: linear-gradient(135deg, #135f84, #1AD895);"  class="px-[1920px] py-28">
        <h2 class="text-3xl font-bold mb-6">LOGIN</h2>
        <form class="w-screen max-w-96" [formGroup]="formulario" (ngSubmit)="sendForm()">
          <label class="block mb-2 text-sm font-bold" for="usuario">USUARIO</label>
          <input
            type="text"
            id="usuario"
            formControlName="username" 
            class="w-full p-3 mb-4 text-gray-900 rounded-md focus:outline-none"
            placeholder="Ingresa tu usuario"
          />
          
          <label class="block mb-2 text-sm font-bold" for="contrasena">CONTRASEÑA</label>
          <input
            type="password"
            id="contrasena"
      formControlName="password"
            class="w-full p-3 mb-6 text-gray-900 rounded-md focus:outline-none"
            placeholder="Ingresa tu contraseña"
          />
          
          <button type="submit" class="w-full bg-gray-800 text-white py-2 rounded-md font-bold hover:bg-gray-700">
            Ingresar
          </button>
          <a href="#" class="text-sm text-white mt-4 block text-center hover:underline">
            ¿Olvidaste tu contraseña?
          </a>
        </form>
      </div>
    </div>

    <!-- Right Side (Logo and Title) -->
    <div class="w-1/2 bg-unsm-green p-8 flex flex-col justify-center items-center text-center">
    </div>
    <img src="assets/logo.png" alt="UNSM Logo" class="">
  </div>
</div>