<div class="flex min-h-screen">
  <div class="flex-1 bg-gradient-to-br from-teal-400 to-green-500 p-8 flex flex-col justify-center relative overflow-hidden">
    <div class="absolute top-0 left-0 w-16 h-16 bg-white opacity-10 rounded-full -translate-x-1/2 -translate-y-1/2"></div>
    <div class="absolute bottom-0 right-0 w-16 h-16 bg-white opacity-10 rounded-full translate-x-1/2 translate-y-1/2"></div>
    <form class="z-10 max-w-md w-full mx-auto space-y-6" [formGroup]="formulario" (ngSubmit)="sendForm()">
      <h1 class="text-4xl font-bold text-white mb-8">LOGIN</h1>
      <div class="space-y-4">
        <div>
          <label for="usuario" class="text-sm font-medium text-white block mb-1">USUARIO</label>
          <input id="usuario" formControlName="username" class="w-full p-3 bg-white/10 border-white/20 text-white placeholder-white/50" />
        </div>
        <div>
          <div class="flex justify-between">
            <label for="contrasena" class="text-sm font-medium text-white block mb-1">CONTRASEÑA</label>
            <label for="contrasena" (click)="clickMostrarPassword()" class="text-sm font-medium cursor-pointer text-white block mb-1">VER PASSWORD</label>
          </div>
          <input id="contrasena" [type]="showPassword ? 'text' : 'password' " formControlName="password" class="w-full bg-white/10 border-white/20 text-white placeholder-white/50" />
        </div>
      </div>
      <button class="w-full p-2 bg-gray-800 hover:bg-gray-700 text-white" [disabled]="loading" type="submit"> {{loading ? 'CARGANDO...' : 'INGRESAR'}} </button>
      <div class="text-center">
        <a href="#" class="text-sm text-white hover:underline">OLVIDASTE CONTRASEÑA?</a>
      </div>
    </form>
  </div>
  <div class=" max-lg:hidden flex-1 bg-gradient-to-tl from-green-600 to-green-500 p-8 flex flex-col items-center justify-center relative overflow-hidden">
    <div class="absolute top-0 right-0 w-16 h-16 bg-white opacity-10 rounded-full translate-x-1/2 -translate-y-1/2"></div>
    <div class="absolute bottom-0 left-0 w-16 h-16 bg-white opacity-10 rounded-full -translate-x-1/2 translate-y-1/2"></div>
    <div class="z-10 text-center">
      <img src="/favicon.ico" alt="UNSM Logo" width="200" height="200" class="mx-auto mb-8" />
      <h2 class="text-6xl font-bold text-white">UNSM</h2>
    </div>
  </div>
</div>
