<app-postfacultades></app-postfacultades>

<div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Facultad
                </th>
                <th scope="col" class="px-6 py-3">
                    Opciones
                </th>
            </tr>
        </thead>
        <tbody>
            @for (data of datos; track $index) {
                <tr class="bg-white dark:bg-gray-800">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{ data.facultad }}
                    </th>
                    <td class="px-6 py-4 flex gap-5 ">
                        <span (click)="mostrarModal(data)" class=" cursor-pointer text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" >
                            Editar
                        </span>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@if (verModal) {
    
    <app-putfacultades (estadoModal2)="cerrarModal($event)"></app-putfacultades>
}

